@import "tailwindcss";

.label {
  display: block;
}

.input-field {
  display: block;
  border: 1px solid rgb(201, 200, 200);
  width: 100%;
  border-radius: 0.7rem;
  padding: 0.5rem;
  margin-bottom: 1.8rem;
}

.social-media-btn button[type="button"] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1.5px solid rgb(199, 199, 199);
  margin-top: 0.7rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

.social-media-logo {
  margin-right: 1rem;
  width: 3.5%;
  height: 3.5%;
}

.dashboard-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.dashboard-section {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
